extends layout

block content
	form(class="form-horizontal")
		div(class="form-group")
			label(for="questionTitle") Title
			input(type="text" class="form-control" id="questionTitle" )
		div(class="form-group")
			label(for="question") Question
			textarea(class="form-control" id = "questionText" rows="6")
		div(class = "row")
			div(class="col-md-6 ask-col")
				button(type="button" id = "askQuestionButton" class="btn btn-success ask-button") Ask Question
				button(type="button" class="btn btn-default") Cancel
			div(class="col-md-3")
				div(class="input-group-btn")
					button(class="btn dropdown-toggle" data-toggle="dropdown") Categories
						span(class="caret") 
					ul(class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu")
						- for (var i = 0; i < catz.length; ++i) {
							li(role="menuitem" tabindex="-1" align="left") #{catz[i].category_name}
						- }
			div(class="col-md-3") Tags: 		
			div(class="col-md-3 ask-col")
				input( type="text" class="form-control" id="tags-area") 
		div(class="row")
			div(class="col-md-1") Available Tags:				
			field(class="avail-tag" id="tags_available")		
			
			
