extends layout

block content
	ul(class="nav nav-tabs")
		li(role="presentation" class="active")
			a(href="#") New
		li(role="presentation")
			a(href="#") Popular
	div(class="thumbnail")
		div(class="caption")
			div(class="row")
				div(class="col-md-1")
					h3(class="score-up") 
						strong +5
				div(class="col-md-11")
					a(href="/question")
						h4(class = "question-ad") Multi-dimensional arrays in C?
					div(class="view-number")
						span(class="glyphicon glyphicon-eye-open" aria-hidden="true")
						h7  70 views
					div(class="view-number")
						span(class="glyphicon glyphicon-time" aria-hidden="true")
						h7  4 mins ago
					div(class="view-author")
						span(class="glyphicon glyphicon-user" aria-hidden="true")
						h7  Mert Gür

	div(class="thumbnail")
		div(class="caption")
			div(class="row")
				div(class="col-md-1")
					h3(class="score-up") 
						strong +20
				div(class="col-md-11")
					a(href="#")
						h4(class = "question-ad") Java character not recognized correctly
					div(class="view-number")
						span(class="glyphicon glyphicon-eye-open" aria-hidden="true")
						h7  120 views
					div(class="view-number")
						span(class="glyphicon glyphicon-time" aria-hidden="true")
						h7  20 mins ago
					div(class="view-author")
						span(class="glyphicon glyphicon-user" aria-hidden="true")
						h7  Burak Eserol

	div(class="thumbnail")
		div(class="caption")
			div(class="row")
				div(class="col-md-1")
					h3(class="score-down") 
						strong -3
				div(class="col-md-11")
					a(href="#")
						h4(class = "question-ad") Save a linked list to file in C++
					div(class="view-number")
						span(class="glyphicon glyphicon-eye-open" aria-hidden="true")
						h7  263 views
					div(class="view-number")
						span(class="glyphicon glyphicon-time" aria-hidden="true")
						h7  2 days ago
					div(class="view-author")
						span(class="glyphicon glyphicon-user" aria-hidden="true")
						h7  Naci Uysal


