extends layout

block content
	form(class="form-horizontal")
		div(class = 'row')
			div(class="col-md-4")
			div(class="col-md-4")
				div(class="input-group top-input")
					span(class="input-group-addon" id="basic-addon2" )
						span(class="glyphicon glyphicon-user" aria-hidden="true")
					input(type="text" id="loginUsername" class="form-control" placeholder="Username" aria-describedby="basic-addon2")
			div(class="col-md-4")
		div(class = 'row')
			div(class="col-md-4")
			div(class="col-md-4")
				div(class="input-group top-input")
					span(class="input-group-addon" id="basic-addon3" )
						span(class="glyphicon glyphicon-lock" aria-hidden="true")
					input(type="password" id="loginPassword" class="form-control" placeholder="Password" aria-describedby="basic-addon3")
			div(class="col-md-4")
		div(class = 'row')
			div(class="col-md-4")
			div(class="col-md-4 top-input")
				button(type="button" id="loginButton" data-loading-text="Loading..." class="btn btn-success register-button" autocomplete="off") Login
			div(class="col-md-4")
		div(class = 'row')
			div(class="col-md-4")
			div(class="col-md-4 top-input")
				a(type="button" id="myButton2" data-loading-text="Loading..." class="btn btn-link register-button" autocomplete="off" href="/register") Register
			div(class="col-md-4")