extends layout
block content
	div(class="row")
			div(class = "col-md-9")
				h2 Questions(3)
				div(class="list-group")
					a(href="#" class = "list-group-item") 
						h4 <strong>Dapibus ac facilisis in</strong> 
						p Morbi dapibus felis sit amet dui lacinia, at sagittis lacus iaculis. Ut velit lectus, tincidunt quis velit et, placerat ullamcorper justo. Duis quis turpis malesuada, semper ipsum ac, vestibulum augue. Mauris ligula ante, tempor at interdum eu, vestibulum at elit
					a(href="#" class = "list-group-item") 
						h4 <strong>Dapibus ac facilisis in</strong> 
						p Morbi dapibus felis sit amet dui lacinia, at sagittis lacus iaculis. Ut velit lectus, tincidunt quis velit et, placerat ullamcorper justo. Duis quis turpis malesuada, semper ipsum ac, vestibulum augue. Mauris ligula ante, tempor at interdum eu, vestibulum at elit
					a(href="#" class = "list-group-item") 
						h4 <strong>Dapibus ac facilisis in</strong> 
						p Morbi dapibus felis sit amet dui lacinia, at sagittis lacus iaculis. Ut velit lectus, tincidunt quis velit et, placerat ullamcorper justo. Duis quis turpis malesuada, semper ipsum ac, vestibulum augue. Mauris ligula ante, tempor at interdum eu, vestibulum at elit
				h2 Answers(2)
				div(class="list-group")
					a(href="#" class = "list-group-item") 
						h4 <strong>Dapibus ac facilisis in</strong> 
						p Morbi dapibus felis sit amet dui lacinia, at sagittis lacus iaculis. Ut velit lectus, tincidunt quis velit et, placerat ullamcorper justo. Duis quis turpis malesuada, semper ipsum ac, vestibulum augue. Mauris ligula ante, tempor at interdum eu, vestibulum at elit
					a(href="#" class = "list-group-item") 
						h4 <strong>Dapibus ac facilisis in</strong> 
						p Morbi dapibus felis sit amet dui lacinia, at sagittis lacus iaculis. Ut velit lectus, tincidunt quis velit et, placerat ullamcorper justo. Duis quis turpis malesuada, semper ipsum ac, vestibulum augue. Mauris ligula ante, tempor at interdum eu, vestibulum at elit
				h2 Favorite Questions(1)
				div(class="list-group")
					a(href="#" class = "list-group-item") 
						h4 <strong>Dapibus ac facilisis in</strong> 
						p Morbi dapibus felis sit amet dui lacinia, at sagittis lacus iaculis. Ut velit lectus, tincidunt quis velit et, placerat ullamcorper justo. Duis quis turpis malesuada, semper ipsum ac, vestibulum augue. Mauris ligula ante, tempor at interdum eu, vestibulum at elit
			div(class = "col-md-3")
				h4 Reputation: 11 Points
				div(class="panel panel-primary")
					div(class="panel-heading") Badges
					div(class="panel-body")
						button(type="button" class="btn btn-primary btn-lg btn-block") Popular
						button(type="button" class="btn btn-success btn-lg btn-block") Guru
						button(type="button" class="btn btn-danger btn-lg btn-block") Enlightener
				h2 Followed Tags(4)
					<button type="button" class="btn btn-default">Java</button>
					<button type="button" class="btn btn-default">PHP</button>
					<button type="button" class="btn btn-default">OOP</button>
					<button type="button" class="btn btn-default">CSS</button>
