extends layout

block content
	form(class="form-horizontal")
		div(class = 'row')
			div(class="col-md-4")
			div(class="col-md-4")
				div(class="input-group top-input")
					span(class="input-group-addon" id="basic-addon1" )
						span(class="glyphicon glyphicon-user" aria-hidden="true")
					input(type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1")
			div(class="col-md-4")
		div(class = 'row')
			div(class="col-md-4")
			div(class="col-md-4")
				div(class="input-group top-input")
					span(class="input-group-addon" id="basic-addon2" )
						span(class="glyphicon glyphicon-envelope" aria-hidden="true")
					input(type="text" class="form-control" placeholder="E-mail" aria-describedby="basic-addon2")
			div(class="col-md-4")
		div(class = 'row')
			div(class="col-md-4")
			div(class="col-md-4")
				div(class="input-group top-input")
					span(class="input-group-addon" id="basic-addon3" )
						span(class="glyphicon glyphicon-lock" aria-hidden="true")
					input(type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon3")
			div(class="col-md-4")
		div(class = 'row')
			div(class="col-md-4")
			div(class="col-md-4 top-input")
				button(type="button" id="myButton" data-loading-text="Loading..." class="btn btn-success register-button" autocomplete="off") Register
			div(class="col-md-4")
