body {
  padding-top: 70px;
}
.thumbnail {
  margin-top: 20px;
}
.question-ad {
  padding-bottom: 5px;
  border-bottom: 1px solid #dedede;
}
.score-up {
  text-align: center;
  color: #5cb85c;
}
.score-down {
  text-align: center;
  color: #d9534f;
}
.view-number {
  float: left;
  padding-left: 5px;
  padding-right: 20px;
}
.view-author {
  float: right;
}
.top-input {
  margin-top: 20px;
  margin-bottom: 20px;
}
.register-button {
  width: 100%;
}
.navbar-form {
  width: 50%;
}
.navbar-form .form-control {
  width: 100%;
}
.ask-button {
  margin-right: 10px;
}
.ask-col {
  padding-left: 0px;
  padding-right: 0px;
}
.arrow {
  font-size: 30px;
}
.arrow-but {
  border: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.point {
  margin-top: 0px;
  margin-bottom: 0px;
}
.add-comment {
  float: left;
}
.question-author {
  float: right;
  position: absolute;
  bottom: 0;
  right: 10px;
  padding-right: 5px;
}
.badge {
  margin-right: 5px;
}
.bordercolor {
  border-color: #332C2F;
}

.ask-tag{
    padding-right: 10px;
}

.avail-tag{
    padding-right: 30px;
}

.tag-field{
    padding-right: 1px;
}
.delete-button{
  float: right;
}

.delete-button-question{
  float: right;
}
